.main {
  min-height: 100vh;
  display: flex;
  gap: 30px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inner {
  width: 100%;
  flex: 1;
  display: flex;
}

.section {
  width: 50%;
}

.teamBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  flex-wrap: wrap;
  height: 100%;
  padding: 40px;
}

.teamName {
  text-align: center;
}

.player {
  position: relative;
  overflow: hidden;
}

.full {
  position: absolute;
  inset: 0;
  z-index: 10;
  width: 48px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-position: 0 0;
  pointer-events: none;
}

.wrap {
 transform: scaleX(-1);
}

/*ROBBERT*/
.robbert_idle {
  background-image: url('/sprites/robbert/idle.png');
  animation: spriteIdle 0.5s steps(3) infinite;
}

.robbert_hurt {
  background-image: url('/sprites/robbert/hurt.png');
  animation: spriteHurt 0.5s steps(2) infinite;
}

.robbert_death {
  background-image: url('/sprites/robbert/death.png');
  animation: spriteDeath 0.7s steps(5) forwards;
}

/*STREAM*/
.stream_idle {
  background-image: url('/sprites/stream/idle.png');
  animation: spriteIdle 0.5s steps(3) infinite;
}

.stream_hurt {
  background-image: url('/sprites/stream/hurt.png');
  animation: spriteHurt 0.5s steps(2) infinite;
}

.stream_death {
  background-image: url('/sprites/stream/death.png');
  animation: spriteDeath 0.7s steps(5) forwards;
}

/*WOONDER*/
.wooder_idle {
  background-image: url('/sprites/wooder/idle.png');
  animation: spriteIdle 0.5s steps(3) infinite;
}

.wooder_hurt {
  background-image: url('/sprites/wooder/hurt.png');
  animation: spriteHurt 0.5s steps(2) infinite;
}

.wooder_death {
  background-image: url('/sprites/wooder/death.png');
  animation: spriteDeath 0.7s steps(5) forwards;
}

@keyframes spriteIdle {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

@keyframes spriteHurt {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

@keyframes spriteDeath {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
